
testing/1st_game_testing/Temp/UnityLockfile
package/Base Game Package/Base.unitypackage
gaming/New Unity Project/Temp/UnityLockfile
gaming/New Unity Project/Assets/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap
gaming/New Unity Project/Library/ArtifactDB
gaming/New Unity Project/Library/ArtifactDB
gaming/New Unity Project/Library/ArtifactDB
gaming/New Unity Project/Library/ArtifactDB
gaming/New Unity Project/Library/ArtifactDB
gaming/New Unity Project/Library/ArtifactDB
gaming/New Unity Project/Library/ArtifactDB
